@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev {
    left: 60px !important;
    z-index: 1 !important;
}
.slick-next {
    right: 60px !important;
    z-index: 1 !important;
}

@media only screen and (width <= 500px){
    .slick-prev{
        left: 20px !important;
    }
    .slick-next{
        right: 28px !important;
    }
    .slick-dots li button:before {
        font-size: 13px !important;
        color: black !important;
        opacity: 1 !important;
    }
}
@media only screen and (width > 500px){
    .slick-dots li button:before {
        font-size: 16px !important;
        color: black !important;
        opacity: 1 !important;
    }
    
}


.slick-prev:before,
.slick-next:before {
    font-size: 30px !important;
    line-height: 2 !important;
    color: black !important;
    opacity: 1 !important;

}


.slick-dots {
    bottom: 25px !important;
}


.slick-dots li.slick-active button:before {
    color: white !important;
    opacity: 1 !important;
}